# Configuration file

~CONFIG_VERSION: 0.1.0

world-923757333 {
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=eye

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world1851235920 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=book
    B:overlayEnabled=true
}


world247296039 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


