# Configuration file

general {
    S:modPack=worldofpannotia
    S:modPackVersion={VERSION}
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:FML=false
            B:actuallyadditions=false
            B:actuallybaubles=false
            B:additionalbanners=false
            B:akashictome=false
            B:appleskin=false
            B:armorplus=false
            B:aroma1997core=false
            B:aroma1997sdimension=false
            B:astralsorcery=false
            B:autoreglib=false
            B:badwithernocookiereloaded=false
            B:base=false
            B:baubles=false
            B:beneath=false
            B:betteradvancements=false
            B:betterbuilderswands=false
            B:bhc=false
            B:bibliocraft=false
            B:bigreactors=false
            B:binniecore=false
            B:binniedesign=false
            B:biomesoplenty=false
            B:blur=false
            B:bookshelf=false
            B:botania=false
            B:botany=false
            B:bowinfinityfix=false
            B:brandonscore=false
            B:chameleon=false
            B:chesttransporter=false
            B:chickenchunks=false
            B:chisel=false
            B:chiselsandbits=false
            B:clarity=false
            B:clumps=false
            B:codechickenlib=false
            B:cofhcore=false
            B:cofhworld=false
            B:computercraft=false
            B:controlling=false
            B:cookingforblockheads=false
            B:crafttweaker=false
            B:crafttweakerjei=false
            B:ctgui=false
            B:ctm=false
            B:custommainmenu=false
            B:danknull=false
            B:darkutils=false
            B:deepresonance=false
            B:defaultoptions=false
            B:diethopper=false
            B:draconicevolution=false
            B:eleccore=false
            B:enderstorage=false
            B:enderzoo=false
            B:environmentalcreepers=false
            B:environmentaltech=false
            B:expandedbonemeal=false
            B:extraalchemy=false
            B:extrabees=false
            B:extrarails=false
            B:extratrees=false
            B:extrautils2=false
            B:fencejumper=false
            B:fenceoverhaul=false
            B:flatcoloredblocks=false
            B:fluxnetworks=false
            B:flyringbaublemod=false
            B:forestry=false
            B:forge=false
            B:forgeendertech=false
            B:forgelin=false
            B:ftbl=false
            B:ftbu=false
            B:genetics=false
            B:getalltheseeds=false
            B:hammercore=false
            B:harvestcraft=false
            B:hopperducts=false
            B:huntingdim=false
            B:immersiveengineering=false
            B:industrialforegoing=false
            B:infinimend=false
            B:inventorysorter=false
            B:ironbackpacks=false
            B:ironchest=false
            B:jei=false
            B:jeibees=false
            B:jeiintegration=false
            B:jepb=false
            B:jeresources=false
            B:journeymap=false
            B:kleeslabs=false
            B:llor=false
            B:magicbees=false
            B:mantle=false
            B:mcmultipart=false
            B:mcp=false
            B:meecreeps=false
            B:mercurius=false
            B:metamorph=false
            B:minecraft=false
            B:modnametooltip=false
            B:modtweaker=false
            B:morpheus=false
            B:morphtool=false
            B:mtlib=false
            B:naturescompass=false
            B:netherendingores=false
            B:netherportalfix=false
            B:nmsot=false
            B:nonausea=false
            B:notenoughwands=false
            B:openblocks=false
            B:openmods=false
            B:openmodscore=false
            B:oreexcavation=false
            B:p455w0rdslib=false
            B:pitweaks=false
            B:placebo=false
            B:platforms=false
            B:potionfingers=false
            B:projecte=false
            B:quark=false
            B:quickleafdecay=false
            B:rangedpumps=false
            B:reauth=false
            B:reborncore=false
            B:rebornstorage=false
            B:redstoneflux=false
            B:refinedstorage=false
            B:refinedstorageaddons=false
            B:resourceloader=false
            B:rftools=false
            B:rftoolsdim=false
            B:shadowmc=false
            B:shetiphiancore=false
            B:signpost=false
            B:simplerecipes=false
            B:solarfluxreborn=false
            B:solarfluxreborncore=false
            B:sonarcore=false
            B:stacksize=false
            B:statues=false
            B:stg=false
            B:storagedrawers=false
            B:tconstruct=false
            B:teslacorelib=false
            B:teslacorelib_registries=false
            B:thedragonlib=false
            B:theoneprobe=false
            B:thermalcultivation=false
            B:thermaldynamics=false
            B:thermalexpansion=false
            B:thermalfoundation=false
            B:thut_wearables=false
            B:tinker_io=false
            B:tinkersaddons=false
            B:tinkertoolleveling=false
            B:tipthescales=false
            B:toastcontrol=false
            B:topaddons=false
            B:torchmaster=false
            B:unidict=false
            B:valkyrielib=false
            B:wanionlib=false
            B:waystones=false
            B:wirelesscharger=false
            B:zerocore=false
        }

    }

}
