# Configuration file

general {
    # Optifine can do some pretty funky stuff to this mod. I cannot gaurentee that all Optifine Versions will work, only the ones listed here: http://www.wynprice.com/supported-optifine/
    # please following format: OptiFine_<MC version>_<Optifine Version>
    S:accepted_optifine_versions <
        OptiFine_1.12.2_HD_U_C6
        OptiFine_1.12.2_HD_U_C7
        OptiFine_1.12.2_HD_U_C8
     >

    # Should Ambient Occlusion be forced on. If false, AO will be turned on if Minecraft permits it, If true it will be forced on no matter what.
    B:force_ambient_occlusion=false

    # Should the Update Checker be run on startup
    B:update_checker=true
}


