# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:APPENG <APPENG:APPENG.cfg>
    S:BONI <BONI:BONI.cfg>
    S:BRANDON3055 <BRANDON3055:BRANDON3055.cfg>
    S:CRAZYPANTS <CRAZYPANTS:CRAZYPANTS.cfg>
    S:DE <DE:DE.cfg>
    S:DRZHARK <DRZHARK:DRZHARK.cfg>
    S:FI <FI:FI.cfg>
    S:GOLEMS <GOLEMS:GOLEMS.cfg>
    S:GOLEMS_TCON <GOLEMS_TCON:GOLEMS_TCON.cfg>
    S:MCHORSE <MCHORSE:MCHORSE.cfg>
    S:PROGWML6 <PROGWML6:PROGWML6.cfg>
    S:SLIMEKNIGHTS <SLIMEKNIGHTS:SLIMEKNIGHTS.cfg>
    S:VAZKII <VAZKII:VAZKII.cfg>
    S:WAYOFTIME <WAYOFTIME:WAYOFTIME.cfg>
    S:biomesop <BOP:BiomesOPlenty.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


