# Configuration file

general {
    # Set this to false to prevent picking up of mob spawners [default: true]
    B:pickupSpawners=true

    # Set this to false to prevent the copper transporter to pick up mob spawners [default: true]
    B:spawnerWithCopper=false

    # Set this to false to prevent the diamond transporter to pick up mob spawners [default: true]
    B:spawnerWithDiamond=true

    # Set this to false to prevent the gold transporter to pick up mob spawners [default: true]
    B:spawnerWithGold=false

    # Set this to false to prevent the iron transporter to pick up mob spawners [default: true]
    B:spawnerWithIron=false

    # Set this to false to prevent the obsidian transporter to pick up mob spawners [default: true]
    B:spawnerWithObsidian=false

    # Set this to false to prevent the silver transporter to pick up mob spawners [default: true]
    B:spawnerWithSilver=false

    # Set this to false to prevent the tin transporter to pick up mob spawners [default: true]
    B:spawnerWithTin=false

    # Set this to false to prevent the wood transporter to pick up mob spawners [default: true]
    B:spawnerWithWood=false
}


